{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - iPortfolio Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'LoginApp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'LoginApp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <script src="https://kit.fontawesome.com/cfec6bb2f6.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'LoginApp/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'LoginApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'LoginApp/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'LoginApp/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'LoginApp/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'LoginApp/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'LoginApp/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        
        
        {% for info in informacion %}
						{% if info.id == user.id %}

            <tr>
              <td> <img src="{{ info.get_photo_url }}"  width="150" height="150" class="img-responsive thumbnail " alt="img"> </td>		
              <td><h1 style="color:rgb(255, 255, 255);"> Hola, {{info.first_name}} {{info.last_name}}</a></h1></td>									
            </tr>
        
            {% endif %}
        {% endfor %}
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'account' %} " class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>



          {% if user.is_authenticated%}
          <li><a href="{% url 'Index' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>
          
         {% endif %} 



          
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfoio Details</h2>
          <ol>
            <li><a href="{% url 'account' %} ">Home</a></li>
            <li>Portfoio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                {% for pet in mascotas %}
                {% if pet.nombre == animal.nombre %}

                
                <div class="swiper-slide">
                <td> <img src="{{ pet.get_photo_url }}"  width="400" height="400" class="img-responsive thumbnail " alt="img"> </td>			
                </div>
                
                <div class="swiper-slide">
                <td> <img src="{{ pet.get_photo2_url }}"  width="400" height="400" class="img-responsive thumbnail " alt="img"> </td>			
                </div>

                <div class="swiper-slide">
                <td> <img src="{{ pet.get_photo3_url }}"  width="400" height="400" class="img-responsive thumbnail " alt="img"> </td>			
                </div>
               

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Información</h3>
              <ul>
                <li><strong>Estado</strong>: {{ pet.adoptado}}</li>
                <li><strong>Nombre</strong>: {{ pet.nombre }}</li>
                <li><strong>Raza</strong>: {{ pet.raza}}</li>
                <li><strong>Edad</strong>: {{ pet.edad }} años</li>
                <li><strong>Sexo</strong>: {{ pet.sexo }}</li>
                <li><strong>Alimentacion</strong>:  {{ pet.alimentacion}}</li>
                <li><strong>Vacunas</strong>:  {{ pet.vacunas}}</li>
                <li><strong>Enfermedades</strong>:  {{ pet.enfermedad }}</li>
                <li><strong>Rescate</strong>:  {{ pet.fecha_rescate }}</li>


                {% if user.is_authenticated%}
                <a href="{% url 'adopcion_create' %}"><button type="button" class="btn btn-info"><i class="fa-solid fa-house"></i>    ADOPTAR</button></a>
								{% else %} 
                <a href="{% url 'login' %}"><button type="button" class="btn btn-info"><i class="fa-solid fa-house"></i>    ADOPTAR</button></a>
									{% endif %} 



              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Descripción:</h2>
              <p>
                {{pet.descripcion}}
              </p>
            </div>
          </div>

        </div>

      </div>
      {% endif %}
      {% endfor %}
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'LoginApp/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'LoginApp/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'LoginApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'LoginApp/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'LoginApp/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'LoginApp/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'LoginApp/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'LoginApp/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'LoginApp/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'LoginApp/js/main.js' %}"></script>

</body>

</html>